
/* ----------- tailwind */
@import "tailwindcss";

/* ----------- layout */
@utility container {
  margin-inline: auto;
 
}


/* --------- variable */

@theme {

  /* -------- color */
  --color-main: #131022;
/* ------- font */
--font-main: "Manrope", sans-serif;

}

/* index.css or a global stylesheet */
/* :root {
  --font-main: "Poppins", sans-serif;
} */